.chat-area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
}

.chat-area > .header{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #252839;
    padding: 0px 20px;
    border-radius: 10px;
}

.chat-area > .header > #back-button{
    position: absolute;
    left: 10px;
}

.chat-area > .header > .user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.user > img{
    width: 20px;
}

.user > p{
    margin: 0;
}

.chat-area > .header > img {
    width: 30px;
}


.chat-area > .messages{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-image: url(/src/assets/doodle.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.chat-area > .messages{
    width: 100%;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    padding: 0px 5%;
    box-sizing: border-box;
}

/* .chat-area > .messages > p{
    font-family: "Comfortaa";
    font-size: small;
    font-weight: lighter;
    margin: 0;
    opacity: 80%;
} */

.chat-area > .message-input{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.message-input > input{
    background-color: #252839;
    font-family: Montserrat;
    color: white;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 5px;
    padding: 0px 20px;
}

.message-input > button{
    flex-shrink: 0;
    border: none;
    border-radius: 5px;
    background-color: #6785FF;
    height: 45px;
    width: 45px;
}

.message-input > button > img{
    width: 20px;
    height: 20px;
}

@media (max-width: 1200px) {
    .chat-area{
        padding: 15px;
    }
}