.message{
    box-sizing: border-box;
    position: relative;
    padding: 10px 30px 10px 20px;
    width: 80%;
}

.message > p{
    margin: 0;
}

.message > span{
    position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: smaller;
}

.sent{
    align-self: flex-end;
    border-radius: 10px 10px 0px 10px;
    background-color: #6785FF;
}

.recieved{
    align-self: flex-start;
    border-radius: 10px 10px 10px 0px;
    background-color: #252839;
}
