html{
    height: -webkit-fill-available;
}

body{
    margin: 0;
    height: 100svh;
    height: -webkit-fill-available;
    width: 100vw;
    box-sizing: border-box;
    background-color: #1D1F2B;
    font-family: Montserrat;
    color: white;
    overflow: hidden;
}